<div class="container">
  <div class="jumbotron">
  <% if @product.discounted? %>
      <div class="alert alert-info" role="alert"> Discounted Item </div>
  <% else %>
      <div class="alert alert-info" role="alert"> Regular Price </div>
  <% end %>
    <h1> <%= @product.name  %> </h1>
    <h2> <%= @product.description  %> </h2>
    <h4> Price: <%= number_to_currency(@product.price) %> </h4>
    <h4> Total: <%= number_to_currency(@product.total) %> </h4>

    
    <% @categories.each do |category| %>
        <h4> <%= category.name %> </h4>      
    <% end %>

    <div class="row">
        <div class="span4"></div>
        <div class="span4"><img src="<%= @product.images.first.image_url %>" width="100" height="100"/></div>
        <div class="span4"></div>
    </div>
<% if current_user && current_user.admin %>
    <div> <%= form_tag "/products/#{@product_id}", method: "delete" do %>
      <input type="submit" class="btn pull-right" value="Delete" >
      <% end %>
      <div>
        <a class="btn glyphicon glyphicon-pencil" href="/products/<%= @product.id%>/edit" role="button">Edit</a>
      </div>
      
    </div>
<% end %>
<% if current_user %>
      <h3>Cart</h3>
  <%= form_tag "/carted_products", method: :post do %>
    <div>
    
      <label for="form_abreviation">Quantity </label>
      <input name="quantity" type="" class="" id="form_name" placeholder="Enter Quantity">
    
    <input type="hidden" name="id" value="<%= @product_id %>">
    

    <button type="submit" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-shopping-cart align-left" aria-hidden="true"></span> Add to Cart
    </button>
<% end %>
    </div>
  <% end %>

  </div>

    


</div>


